<section class='single-listing-show-page'>
  <div class='listing-details'>
    <% if @listing.photos.attached? %>
      <% @listing.photos.each do |photo| %>
        <%= image_tag photo, style: 'width: 200px;'%>
      <% end %>
    <% end %>
    <p>Title: <%= @listing.title %></p>
    <p>Description: <%= @listing.description %></p>
    <p>Price Per Day: <%= @listing.price_per_day %></p>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@listing.latitude},#{@listing.longitude}&key=#{Rails.application.credentials[Rails.env.to_sym][:GOOGLE_MAP_API]}", alt: "Map" %>
    <br>
    <%= link_to 'Get Direction', "https://maps.google.com/?q=#{@listing.latitude},#{@listing.longitude}", target: '_blank' %>
    <br>
  </div>
</section>
