<section class='user-profile'>
  <div class='user-avatar'>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, style: 'width: 200px;' %>
    <% end %>
  </div>
  <div class='user-details'>
    <h1><%= @user.email %></h1>
  </div>

  <div class='user-bookings'>
    <h1>Your bookings</h1>
    <%# @bookings.each do |booking| %>
      <br>
      <%#= link_to "#{booking.ref_no}", listing_booking_path(booking.listing, booking) %>
      <p>status: <%#= booking.status %></p>
      <p>Total: <%#= booking.total %></p>
    <%# end %>
  </div>

  <div class="all-available-listing">
    <h1>You might be interested</h1>
    <% @listings.each do |listing| %>
      <% if listing.photos.attached? %>
        <% listing.photos.each do |photo| %>
          <%= image_tag photo, style: 'width: 200px;'%>
        <% end %>
      <% end %>
      <p>Title: <%= listing.title %></p>
      <p>Description: <%= listing.description %></p>
      <p>Price Per Day: <%= listing.price_per_day %></p>

    <% end %>
  </div>
</section>
